:root {
  --color-main: #222323;
  --color-highlight-1: #19C8A9;
  --color-highlight-2: #F1017C;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--color-main);
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.nav {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 3s ease-in;
}

.band-name {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
  white-space: nowrap;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.social {
  font-size: 3rem;
  text-align: right;
}

.fab {
  color: white;
  padding: 0 20px;
}

.fab:hover {
  transform: scale(1.1);
  /* color: var(--color-highlight-1); */
  background-image: linear-gradient(to right top, var(--color-highlight-1), var(--color-highlight-2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  /* height: 200px; */
}

.item-1 {
  height: 80vh;
}

.item-2 {
  height: 80vh;
}

.tom {
  background-image: linear-gradient(310deg,
    rgba(34, 35, 35, 1) 0%,
    rgba(34, 35, 35, .9) 30%,
    transparent 60%),
    url(images/tom.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  position: relative;
  text-align: right;
  height: 100%;
  animation: moveInLeft 1.5s ease-out;
}

.ryan {
  background-image: linear-gradient(50deg,
    rgba(34, 35, 35, 1) 0%,
    rgba(34, 35, 35, .9) 30%,
    transparent 60%),
    url(images/ryan.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  animation: moveInRight 1.5s ease-out;
}

.member {
  position: absolute;
  top: 80%;
  animation: fadeIn 5s ease-in;
}

.member-tom {
  right: 0%;
}

.member-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.member-role {
  font-size: 1.2rem;
  display: block;
  padding: 1rem 2rem;
  ;
}

.item-3 {
  grid-column: span 2;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.header {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  padding: 2rem 0;
}

.bkg-img {
  grid-column: span 3;
  width: 10%;
}

.EP-heading {
  grid-column: span 3;
}

.EP-1 {
  grid-row: span 2;
}

.description {
  display: inline-block;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  padding: 5rem 3rem 3rem 3rem;
  background-image: linear-gradient(to right top, var(--color-highlight-1), var(--color-highlight-2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.item-4, .item-6 {
  text-align: center;
  padding: 3rem 0;
}

.item-5, .item-7 {
  text-align: center;
}

.item-8 {
  grid-column: span 2;
  padding: 3rem 0;
  text-align: center;
}

.contact {
  display: inline;
}

.message {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.message:hover {
  background-image: linear-gradient(to right top, var(--color-highlight-1), var(--color-highlight-2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footer {
  padding: 3rem;
  text-align: center;
}

#copyright {
  font-size: 0.5rem;
  padding-top: 3rem;
}

.padding-top {
  padding-top: 3rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .item-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .EP-heading {
    grid-column: span 2;
  }
  .bkg-img {
    grid-column: span 2;
  }
  .item-4, .item-5, .item-6, .item-7 {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .band-name {
    font-size: 3rem;
  }

  .social {
    font-size: 2rem;
    padding-top: 20px;
  }

  .member-name {
    font-size: 0.9rem;
  }

  .member-role {
    font-size: 0.8rem;
  }

  .header {
    font-size: 2rem;
  }

  .fab {
    color: white;
    padding: 0 10px;
  }

  .container {
    padding: 0 1rem;
  }

  .item-1 {
    height: 60vh;
    order: 1;
  }

  .item-2 {
    height: 60vh;
    order: 2;
  }

  .item-3 {
    grid-template-columns: 1fr;
    order: 3
  }

  .item-4 {
    order: 5;
  }

  .item-5 {
    order: 4;
  }

  .item-6 {
    order: 6;
  }

  .item-7 {
    order: 7;
  }

  .item-8 {
    order: 8;
  }

  .EP-heading {
    grid-column: span 1;
  }

  .bkg-img {
    grid-column: span 1;
  }

  .description {
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    padding: 2rem 1rem 0 0;
  }

  .video {
    width: 350px;
    height: 196px;
  }
}

@media only screen and (max-width: 370px) {
  .social {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .member-name {
    font-size: 0.7rem;
  }

  .member-role {
    font-size: 0.6rem;
  }
}
