*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #222323;
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.nav {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 3s ease-in;
}

.band-name {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  white-space: nowrap;
}

.social {
  font-size: 3rem;
  text-align: right;
}

.social a:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.fab {
  color: white;
  padding: 0 20px;
}

.fab:hover {
  transform: translateY(-.3rem) scale(1.1);
  color: goldenrod;
}

.container {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  /* height: 200px; */

}

.item-1 {
  /* background-color: red; */
  height: 80vh;
}

.item-2 {
  /* background-color: blue; */
  height: 80vh;
}

.tom {
  background-image: linear-gradient(310deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, .9) 30%,
    transparent 60%),
    url(images/tom.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  position: relative;
  text-align: right;
  height: 100%;
  animation: moveInLeft 1.5s ease-out;
}

.ryan {
  background-image: linear-gradient(50deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, .9) 30%,
    transparent 60%),
    url(images/ryan.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  animation: moveInRight 1.5s ease-out;
}

.member {
  position: absolute;
  top: 80%;
  animation: fadeIn 5s ease-in;
}

.member-tom {
  right: 0%;
}

.member-name {
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.member-role {
  display: block;
  padding: 1rem 2rem;
  ;
}

.item-3 {
  /* background-color: purple; */
  grid-column: span 2;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.EP-heading{
  grid-column: span 3;
}

.EP-1 {
  grid-row: span 2;
}

.description{
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  padding: 5rem 3rem 3rem 3rem;
}

.item-4 {
  /* background-color: yellow; */
  text-align: center;
    padding: 3rem 0;
}

.item-5 {
  /* background-color: green; */
}

.item-6 {
  /* background-color: orange; */
}

.item-7 {
  /* background-color: pink; */
  text-align: center;
    padding: 3rem 0;
}
.item-8 {
  /* background-color: blue; */
  grid-column: span 2;
}

.footer {
  /* background-color: orangered; */
  padding: 3rem;
  text-align: center;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .item-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .EP-heading{
    grid-column: span 2;
  }
  .item-4, .item-5, .item-6, .item-7 {
    grid-column: span 2;
  }

}

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .social {
    font-size: 2rem;
    padding-top: 20px;
  }

  .container {
    padding: 0 1rem;
  }

  .item-1 {
    height: 60vh;
  }

  .item-2 {
    height: 60vh;
  }

  .item-3 {
    grid-template-columns: 1fr;
  }

  .EP-heading{
    grid-column: span 1;
  }
}
